/* 导航栏自定义样式 */
.navbar {
    background: linear-gradient(to right, #66a6ff, #007bff); /* 渐变的浅蓝色背景 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: #fff;
}

.navbar-brand img {
    border-radius: 50%; /* 圆角 logo */
}

.navbar-nav .nav-link {
    color: #fff; /* 导航链接文字颜色 */
    font-size: 16px; /* 导航链接字体大小 */
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 20px; /* 圆角导航链接 */
}

.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffc107; /* 鼠标悬停时导航链接文字颜色 */
}

.navbar-nav .nav-link.active {
    color: #ffc107; /* 激活状态下导航链接文字颜色 */
    font-weight: bold;
}

/* 移动端导航按钮样式 */
.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
